<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Cuaderno Alumnos</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body ng-controller="AlumnosController">
		<h1>Cuaderno Alumnos</h1>
		<div class="wrapper">
			<div class="contact-item" ng-repeat="alumno in alumnos | orderBy:'nombre'">
				<div class="nombre">{{alumno.nombre}} - {{alumno.telefono}}</div>
				<span class="curso">{{alumno.curso}}</span>
			</div>
		</div>

		</br>

		<center><button ng-click="ShowForm()" ng-hide="formVisibility">Añadir alumno</button></center>

		<div ng-show="formVisibility" class="wrapper">
			<h2>Añadir un contacto</h2>
			<div class="componente-form1">Nombre: <input type="text" ng-model="nuevoAlumno.nombre"></input></div>
			<div class="componente-form1">Telefono: <input type="text" ng-model="nuevoAlumno.telefono"></input></div>
			<div class="componente-form2">Curso: <input type="text" ng-model="nuevoAlumno.curso"></input></div>
			<center><button ng-click="Save()">Guardar</button></center>
		</div>

		<script src="bower_components/angularjs/angular.min.js"></script>
		<script src="js/script.js"></script>

	</body>
</html>